---
layout: "base.njk"
---

<div class="content">
  <div class="grid-1-1">
    <div>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
    <div>
      <h2>Trainingszeiten</h2>
      {% if schedule and schedule.length %}
      <div class="lists row">
        <ul class="uls">
          {% set currentDay = "" %}
          {% for entry in schedule %}
          {% if entry.day and entry.day != currentDay %}
          <li class="list-heading"><h3>{{ entry.day }}</h3></li>
          {% set currentDay = entry.day %}
          {% endif %}
          <li>{{ entry.time or '' }}</li>
          {% endfor %}
        </ul>
        <ul class="uls">
          {% set currentDay = "" %}
          {% for entry in schedule %}
          {% if entry.day and entry.day != currentDay %}
          <li class="list-heading"><h3>&nbsp;</h3></li>
          {% set currentDay = entry.day %}
          {% endif %}
          <li>{{ entry.age or '' }}</li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
      {% if difDays %} {% else %}
      <h3>{{ trainingstage[0].tag }}</h3>

      {% endif %}
      <div class="lists row">
        <ul class="uls">
          {% if difDays%}
          <li class="list-heading"><h3>{{ trainingstage[0].tag }}</h3></li>
          <li>{{ zeiten[0].zeit }}</li>
          <li class="list-heading"><h3>{{ trainingstage[1].tag }}</h3></li>
          <li>{{ zeiten[1].zeit }}</li>
          {% else %} {% for item in range(0,zeiten.length ) -%}
          <li>{{ zeiten[item].zeit }}</li>
          {% endfor %} {% endif %}
        </ul>
        <ul class="uls">
          {% if difDays%}
          <li class="list-heading"><h3>&nbsp;</h3></li>
          <li>{{ zeiten[0].alter }}</li>
          <li class="list-heading"><h3>&nbsp;</h3></li>
          <li>{{ zeiten[1].alter }}</li>
          {% else %} {% for item in range(0,zeiten.length ) -%}
          <li>{{ zeiten[item].alter }}</li>
          {% endfor %} {% endif %}
        </ul>
      </div>
      {% endif %}
      {% if address and address.length %}
      <h2>Trainingshalle</h2>
      <ul class="uls">
        {% for line in address %}
        <li>{{ line }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>

  <div class="galerie">
    <h2>Galerie</h2>
    <div class="gal-cont">
      {% for item in range(0,galleryImages.length ) -%}
      <div class="gal-item">
        <a target="__blank" href="{{ galleryImages[item].link }}"
          ><img loading="lazy" src="/{{ galleryImages[item].image }}" alt="{{ galleryImages[item].link_text }}" />
          <h3>{{ galleryImages[item].link_text }}</h3>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
