<header>
    <div class="header">
        <div class="logo">
          <a href="/"><img src="/images/Logo.svg" alt="Logo" style="min-width: 1em; min-height: 1em" /> </a>
        </div>
        <nav>
          <div class="Hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <ul class="nav-links">
            <li><a class="nav-link {% if site.url == page.url %}active{% endif %}" href="/">Home</a></li>
            <li><a class="nav-link {% if '/kuksoolwon' in page.url %}active{% endif %}" href="/category/kuksoolwon">Kuk Sool Won</a></li>
            <li><a class="nav-link {% if '/taichi' in page.url %}active{% endif %}
" href="/category/taichi">Tai Chi</a></li>
            <li><a class="nav-link {% if '/articles' in page.url %}active{% endif %}
" href="/articles/">Blog</a></li>
            <li><a class="nav-link {% if '/contact' in page.url %}active{% endif %}
" href="/other/contact">Kontakt</a></li>
          </ul>
        </nav>
      </div>
</header>