<div class="splitter-div">
              <img src="/{{post.data.image}}" loading="lazy" alt="{{post.data.image_text}}" />
              <ul>
                <li>{{post.data.name}}</li>
                <li>{{post.data.adresse_1}}</li>
                <li>{{post.data.adresse_2}}</li>
                <li>Telefon {{post.data.telefon}}</li>
                <li><a href="https://{{post.data.link}}" target="_blank">{{post.data.link}}</a></li>
              </ul>
</div>