---
layout: base.njk
---

<div class="grid-1-1 content">
  <div class="contact">
    <h1 class="section__title">Kontakt</h1>
    <p>Wir freuen uns auf Fragen und Mitteilungen! <br />Sendet einfach eine E-Mail oder ruft an.</p>
    <p><a href="mailto:info@atemschulung-griepentrog.de">info@atemschulung-griepentrog.de</a></p>
    <ul class="uls">
      <li>Peter Griepentrog</li>
      <li>Tel.: 020 65 - 67 96 31</li>
      <li>Fax: 020 65 - 6 38 41</li>
      <li>Mobil: 0170 - 90 42 408</li>
    </ul>
    <h2>Trainingshalle</h2>
    <ul class="uls">
      <li>Beethovenstr. 18a</li>
      <li>47226 Duisburg-Rheinhausen</li>
      <li>im Regenbogenhaus</li>
    </ul>
  </div>
  <div class="map">
    <h2>Karte</h2>
    <iframe
      title="Karte"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2488.9157001750414!2d6.713066216312197!3d51.40460362603407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8b9357699850d%3A0xb96c1112e0e76bd9!2sBeethovenstra%C3%9Fe%2018A%2C%2047226%20Duisburg!5e0!3m2!1sde!2sde!4v1614338318846!5m2!1sde!2sde"
      width="800"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"></iframe>
  </div>
</div>
