---
title: Sponsoren
tags: footer
layout: base.njk
---
<div class="content">
<div class="splitter sponsoren">
{%- for post in collections.sponsor-%}
{% include "sponsor_snippet.njk" %}  
{%-endfor-%}
</div>
</div>
