---
layout: 'base.njk'
title: Kategorien

---
<h1>{{title}}</h1>
<ul>
    {%-for category in collections.category-%}
        <li>
            <a href="{{category.url}}">{{category.data.title}}
</a>
        </li>
    {%- endfor -%}

</ul>



