---
title: Homepage
layout: 'base.njk'
---
<section class="landing" style="height: 90vh">
  <div class="landingtext">
    <h1 class="land-title">Kampfkunst Academy - Peter Griepentrog</h1>
      <h2 class="land-title">Kuk Sool Won ~ Tai Chi ~ Qi Gong</h2>
  </div>
  <div class="landing-img">
    <picture>
      <source srcset="images/1.webp" />
      <img src="images/1.jpg" class="landing-img" alt="Gruppenbild Kuk Sool Won Urkundenübergabe" />
    </picture>
  </div>
</section>
<section class="content">
  <h2>Herzlich willkommen auf meiner Homepage!</h2>
        <div class="grid-1-1">
          <div>
            <p>Ich beschäftige mich seit 30 Jahren mit der Kampfkunst Kuk Sool Won.</p>
                <p>
                  Basierend auf diesen Grundlagen und meiner Erfahrungen biete ich spezielle Atemtechniken aus dem
                  Gebiet des Tai Chi / Qi Gong für eine bestimmte Patientengruppe an, die unter Atemnot leidet.
                </p>
                <p>In den folgenden Seiten erfahren sie alles über Kuk Sool Won, Tai Chi sowie der Atemschulung</p>
                <h3>Über mich</h3>
                <ul class="list">
                  <li>4. Dan in Kuk Sool Won</li>
                  <li>Kampfkunst seit 1986</li>
                  <li>Lehrbefähigung für Tai Chi Chuan / Qi Gong</li>
                  <li>Fachübungsleiterlizenz für Innere Medizin im Rehabilitationssport</li>
                  <li>Fachübungsleiterlizenz für Orthopädie im Rehabilitationssport</li>
                  <li>Verbandszugehörigkeiten: IHHHF & WTKA</li>
                </ul>
          </div>
          <div class="masterimg">
            <img src="Images/masterimg1.jpg" alt="Weihnachtsfeier Show" loading="lazy" class="masterimg" />
          </div>
        </div>
           
            
                
                
              
          
            
              
        

</section>

<div class="content">
  <section class="articel__snippets">
    <h2 class="articel__list__title">Aktuelles</h2>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.news-%}
        {% include "article_snippet.njk" %}  
      {%-endfor-%}
      {%- for post in collections.featured-%}
        {% include "article_snippet.njk" %}  
      {%-endfor-%}
    </ul>
  </section>
  {%if collections.featured == null %}
  <p>Hier gibt es wohl nichts zu sehen</p>
  <p>Schau dir doch andere Artikel an</p>
  {%endif%}
  <div class="centered">
  <a href="/articles" class="btn centered">Alle Artikel</a>
  </div>
</div>